.github/workflows/ci.yml merge=custom_project_merge
.github/workflows/deployment_production.yml merge=custom_project_merge
src/projectSpecific merge=custom_project_merge
src/componentMap.js merge=custom_project_merge
src/imageMap.js merge=custom_project_merge
config.js merge=custom_project_merge