.panel {
    width: border-box;
    margin: 20px;
}

.label {
    color: #015666;
    font-size: large;
    font-weight: bold;

}

.label:hover {
    color: chocolate;
}

.obo_badge {
    font-size: medium;
    margin-right: 10px;
    margin-left: 10px;
}
