.mainPage {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
